* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden
}


h1 {
  font-size: 45px;
  font-weight: 100;
}

body {
  /*background: linear-gradient(149deg, #09EAF7 8%, #3d0fce 34%);*/
  background: radial-gradient(circle farthest-corner at 05px 05px, #09EAF7 5%, #3d0fce 34%, hsl(0, 86%, 43%));
}

/*09EAF7*/
/*5727EF*/